{% extends 'base.html' %}
{% block conteudo %}

<h3>Novo <b>Pedido</b></h3>
    <form method='post' action="{{url_for('pedidos.create')}}">
      <div class="form-group">
      <label>Cliente: </label>
        <select name="usuario_id" class="form-control">
        {% if current_user.admin %}
          {% for u in usuarios %}
            <option value="{{u.id}}">{{u.nome}}</option>
          {% endfor %}
          {% else %}
          <option value="{{current_user.id}}">{{current_user.nome}}</option>
        {% endif %}
        </select>
   
      </div>
     
      <div class="form-group">
      <label>Sabor da Pizza:</label>
        <select name="pizza_id" class="form-control">
          {% for p in pizzas %}
            <option value="{{p.id}}">{{p.sabor}}</option>
          {% endfor %}
        </select>
      </div>
      <br>
      <input type="submit" value="Cadastrar" class="btn btn-primary">
    </form>
{% endblock %}