{% extends 'base.html' %}
{% block conteudo %}

<h3>Atualizar <b>Usuário</b></h3>

    <form method='post' action="/usuarios/update/{{u.id}}">
       <div class="form-group">
        <label>Nome: </label>
        <input type="text" name="nome" class="form-control" value="{{u.nome}}"><br>
      </div>
       <div class="form-group">
        <label>E-mail:</label> 
         <input type="text" name="email" class="form-control" value="{{u.email}}"><br>
       </div>
      
       <div class="form-group">
         <label>Senha:</label>
         <input type="password" name="senha" class="form-control"><br>
       </div>
      
       <div class="form-group">
        <label>Confirmação de senha: </label>
        <input type="password" name="csenha" class="form-control"><br>
       </div>
      <div class="form-group">
        <label>Administrador: </label>
        <select name="admin" class="form-control">
          <option value="1" {{ 'selected' if u.admin }}>Sim</option>
          <option value="0"  {{ 'selected' if not u.admin }}>Não</option>
        </select>
      </div>
      <br>
        <input type="submit" value="Atualizar" class="btn btn-primary">
      
    </form>
{% endblock %}